
body {
    font-family: "Lucida Sans Unicode","Lucida Grande","Arial","Helvetica",sans-serif;
    left: 0;
    margin: 0;
    min-width: 1150px;
    padding: 0;
    top: 0;
    width: 100%;
    background-color: #F0F0F0;
}
strong, em, b, i {
    color: #2E2E2E;
    font-family: "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}
header {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #222222;
    background-origin: padding-box;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    border-bottom: 5px solid #EF652A;
    color: #FFFFFF;
    font-family: "Arial","Helvetica",sans-serif;
    height: 32px;
    width: 100%;
}
.highlight {
    text-shadow: 0 0 5px #E26B1D;
}
header h2 {
    display: inline-block;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 100;
    line-height: 24px;
    margin: 0;
    padding: 6px 0 3px 6px;
}
header span {
    font-size: 9px;
    margin-left: 10px;
    text-transform: uppercase;
}
header #getButton {
    float: right;
    margin-right: 17px;
    margin-top: 18px;
}
header a.button {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #CB3E0E;
    width: 140px;
}
header a.button:hover, header a.button:focus {
    box-shadow: 2px 3px 3px #000000;
    text-shadow: 0 -1px 0 #CB3E0E;
}
header a.button, #filterLinks li.active, div.pager .sf_PagerCurrent {
    background: -moz-linear-gradient(center top , #F06F1C, #E14A17) repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
}
a.button:hover, button:hover, a.button:focus, button:focus {
    background: -moz-linear-gradient(center top , #F87E30, #E75C19) repeat scroll 0 0 transparent;
}
.pressed {
}
.greyback {
    background: url("images/greyback.png") repeat-x scroll left bottom transparent;
    height: 33px;
    position: relative;
}
nav.greyback ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
nav.greyback li {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #E8E8E8;
    float: left;
    padding: 0;
}
nav.greyback li a {
    color: #2E2E2E;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    padding: 0 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
/*nav.greyback li:hover, nav.greyback li:focus, nav.greyback li.last-child:hover, nav.greyback li.last-child:focus {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #E0E0E0;
}
nav.greyback li a:hover, nav.greyback li a:focus, nav.greyback li.last-child a:hover, nav.greyback li.last-child a:focus {
    background-color: #E3E3E3;
}
nav.greyback li.active a {
    background-color: #FFFFFF;
    color: #E15613;
    padding-bottom: 3px;
}
nav.greyback li.active a:hover {
    background-color: #E3E3E3;
    box-shadow: none;
    color: #E15613;
    padding-bottom: 0;
}
nav.greyback li.active {
    border-color: #E9E9E9;
}*/
nav.greyback li:not(.first-child) {
}
nav.greyback li.first-child {
    border-left: 0 none;
}
nav.greyback li.first-child img {
    display: none;
}
nav.greyback li.last-child a {
    background: url("images/new-window.png") no-repeat scroll 70px center transparent;
    padding-right: 34px;
}
nav.greyback li.first-child a:before {
    content: url("images/home.png");
    display: block;
}
/*nav.greyback li.active a:before {
    content: url("images/home-active.png");
    display: block;
}*/
nav.greyback li.active:not(.first-child) a:before {
    content: "";
    display: none;
}
.greyback #filter {
    border: 1px solid #DADADA;
    border-radius: 3px 3px 3px 3px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 9px 17px;
    padding: 0 5px;
    vertical-align: top;
    width: 200px;
}
.greyback input#filter:-moz-placeholder {
    color: #999999;
    line-height: 30px;
    vertical-align: middle;
}
#searchContainer {
    background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 2px #8E8E8E;
    height: 100px;
    margin: 0;
    padding-top: 40px;
    text-align: center;
}
.sfsearchTxt {
    border: 5px solid #E9E9E9;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    font-size: 23px;
    height: 44px;
    margin: 0;
    padding: 0 53px 0 13px;
    width: 50%;
}
.sfSearchImageContainer {
    border: 0 none;
    display: inline-block;
    height: 36px;
    margin: 0 0 0 -50px;
    padding: 0;
    position: relative;
    width: 50px;
}
.sfSearchImageContainer img {
    display: none;
}
.sfsearchSubmit {
    background: url("images/google-search-button.png") no-repeat scroll center center, -moz-linear-gradient(center top , #F06F1C, #E14A17) repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    height: 36px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    width: 36px;
}
.sfsearchSubmit:hover {
    background: url("images/google-search-button.png") no-repeat scroll center center, -moz-linear-gradient(center top , #F87E30, #E75C19) repeat scroll 0 0 transparent;
}
.greyback #searchContainer {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    height: 40px;
    margin: 0;
    padding: 9px 11px 0 0;
    position: absolute;
    right: 0;
    top: 0;
}
.greyback .sfsearchTxt {
    border: 1px solid #DADADA;
    border-radius: 3px 3px 3px 3px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 25px 0 5px;
    width: 220px;
}
.greyback input.sfsearchTxt:-moz-placeholder {
    color: #999999;
    line-height: 30px;
    vertical-align: middle;
}
.greyback .sfSearchImageContainer {
    border: 0 none;
    height: 32px;
    margin: 0 0 0 -35px;
    padding: 0;
    vertical-align: top;
    width: 35px;
}
.greyback .sfsearchSubmit {
    background: url("images/glass.png") no-repeat scroll center center transparent;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    height: 28px;
    left: 0;
    margin: 0;
    padding: 0;
    top: 2px;
    width: 28px;
}
.greyback .sfsearchSubmit:hover {
    background: url("images/google-search-button.png") no-repeat scroll center center, -moz-linear-gradient(center top , #F87E30, #E75C19) repeat scroll 0 0 transparent;
}
.greyback .sfSearchSubmit-top {
    display: none;
}
div.pager a {
    display: inline;
    padding: 9px;
}
div.pager {
    border-top: 1px solid #DADADA;
    margin-top: 13px;
    padding: 15px 0 5px;
}
fieldset {
    border: medium none;
}
#siteSearch {
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    text-align: right;
}
#siteSearch .sfsearchTxt {
    border: 1px solid #DADADA;
    font-size: 12px;
    height: 23px;
    margin-right: 6px;
    position: relative;
    top: -52px;
    width: 110px;
}
button#siteSearch {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    height: 20px;
    position: relative;
    right: 35px;
    top: -50px;
    width: 20px;
}
form > hr {
    display: none;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color -moz-use-text-color #DADADA;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    height: 1px;
    margin: 0;
    padding: 0;
}
.home a {
    text-decoration: none;
}
a.kendoLink {
    color: #E26B1D;
    text-decoration: none;
}
.home {
    font-size: 12px;
    margin: 50px auto;
    text-align: center;
    width: 90%;
}
.home .category {
    display: inline-block;
    height: 350px;
    margin: 0 0 0 -4px;
    padding: 0 0 30px;
    text-align: center;
    vertical-align: top;
    width: 23%;
}
div.category:focus, div.category:hover {
    background: none repeat scroll 0 0 #FBFBFB;
}
.home .category > a:focus .title, .home .category > a:hover .title {
    color: #E15613;
}
.home .bottom-border {
    border-bottom: 1px solid transparent;
}
.home .right-border {
    border-right: 1px solid #DFDFDF;
}
.home .category > a {
    display: block;
    padding: 30px 0;
}
.home .title {
    color: #2E2E2E;
    display: block;
    font-family: "Segoe UI","Arial","Helvetica",sans-serif;
    font-size: 24px;
    padding-top: 20px;
}
.home p {
    color: #4E4E4E;
    font-size: 13px;
    line-height: 1.3em;
    margin: 0;
    padding: 0 10%;
}
a img {
    border: 0 none;
}
div#content {
    margin: 0 auto;
    width: 100%;
}
.wrapper {
    background: url("images/separator.png") repeat-y scroll 19.5% top transparent;
    margin-top: 30px !important;
}
.wrapper {
    background-position: 300px top;
}
.pageContent {
    float: left !important;
    max-width: 56%;
    min-width: 800px;
    padding-left: 20px;
}
#breadcrumb {
    color: #6F6F6F;
    font-size: 13px;
    padding: 0 0 6px;
    text-transform: capitalize;
}
#breadcrumb a {
    color: #E15613;
    text-decoration: none;
}
#breadcrumb a:hover {
    text-decoration: underline;
}
#breadcrumb span.right a {
    color: #6F6F6F;
    text-decoration: none;
}
#breadcrumb span.right a:hover {
    color: #E36028;
}
#breadcrumb img {
    margin: 0 3px 1px;
}
div.right {
    display: inline;
    float: right;
}
#searchHeader span {
    font-size: 23px;
}
#searchPhrase {
    color: #E36028;
    font-style: italic;
}
span.right {
    float: right;
    font-size: 8pt;
    line-height: 25pt;
}
span.right img {
    margin-bottom: 1px;
}
#textOptions, #sortOptions {
    margin-right: 2px;
    text-align: right;
}
#textOptions a, #sortOptions a {
    color: #6F6F6F;
    font-size: 12px;
    margin-right: 5px;
    text-decoration: none;
}
#textOptions a:hover, #sortOptions a:hover, #sortOptions a.active {
    color: #E36028;
}
#textOptions a span.second {
    font-size: 16px;
}
#textOptions a span.third {
    font-size: 20px;
}
#textOptions #print:before {
    content: url("images/printer.png");
}
#textOptions #print:hover:before {
    content: url("images/printer-hover.png");
}
#resultsCount {
    margin-top: 40px;
}
.bodyText {
    color: #656565;
    font-size: 14px;
    line-height: 1.5em;
}
.bodyText h1, h2, h3, h4 {
    color: #2E2E2E;
    font-family: "Segoe UI",Arial,Helvetica,Sans-Serif;
    font-weight: normal;
    line-height: 1.2em;
}
h2 em, h3 em, h4 em {
    color: #2E2E2E;
    font-family: "Segoe UI",Arial,Helvetica,Sans-Serif;
    font-weight: bold;
    line-height: 1.2em;
}
.bodyText h1 {
    font-size: 30px;
    line-height: 1.2em;
    margin: 0;
    padding: 20px 0 10px;
    word-wrap: break-word;
}
.bodyText h2 {
    font-size: 28px;
    margin: 0;
    padding: 10px 0;
    word-wrap: break-word;
}
.bodyText h2:not(.toc) {
    background: url("images/stripe.png") repeat-x scroll 0 0 transparent;
    border-top: 3px solid #BBBBBB;
    margin: 40px 0 0;
    padding: 30px 0 10px;
}
.bodyText h3, h3 {
    border-top: 1px dotted #BBBBBB;
    color: #555555;
    font-size: 17px;
    font-weight: bold;
    margin: 15px 0 0;
    padding: 15px 0 0;
    word-wrap: break-word;
}
.bodyText h4 {
    color: #000000;
    font-size: 14px;
    line-height: 1em;
    margin: 0;
    padding: 15px 0 0;
    word-wrap: break-word;
}
.main p {
    line-height: 1.7em;
}
.bodyText p, .main p, .bodyText ul, .bodyText ol {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.bodyText img {
    margin-bottom: 5px;
    margin-top: 15px;
}
.bodyText p img {
    border: 5px solid #FFFFFF;
    box-shadow: 0 0 3px #999999;
    display: block;
    margin: 15px auto 5px;
}
.bodyText li {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 0;
}
.bodyText h2 a, .bodyText h3 a {
    color: #2E2E2E;
}
.bodyText h2 a:hover, .bodyText h3 a:hover {
    color: #E36028;
}
.bodyText h2:not(.toc):after {
    content: url("images/directLink.png");
    float: right;
}
.bodyText h2:hover:not(.toc):after {
    content: url("images/directLink-hover.png");
    float: right;
}
.bodyText a {
    color: #E15613;
    text-decoration: none;
}
.bodyText a:hover {
    text-decoration: underline;
}
.bodyText ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 5px 0 5px 15px;
}
.bodyText ul.nav li {
    padding: 0 0 5px 9px;
    position: relative;
}
.bodyText ul:not(.pager) li a:before {
    content: url("images/bcGT.png");
    left: 0;
    position: absolute;
    top: -2px;
    vertical-align: middle;
}
#filterLinks {
    border-left: 2px solid #DDDDDD;
    float: right;
    margin-right: 60px;
    margin-top: 15px;
    padding-left: 0;
}
#filterLinks h3 {
    display: inline;
    font-size: 16px;
    font-weight: normal;
    padding-left: 15px;
}
#filterLinks ul {
    list-style-type: none;
    margin-left: -40px;
    margin-top: 10px;
}
#filterLinks ul li {
    font-size: 12px;
    padding-left: 20px;
}
#filterLinks ul .sf_PagerCurrent {
    border-radius: 0 3px 3px 0;
}
#filterLinks ul li.active a, .bodyText div.pager .sf_PagerCurrent {
    color: #FFFFFF;
}
.bodyText div.pager .sf_PagerCurrent {
    padding-bottom: 5px;
    padding-top: 5px;
}
div.section-divider {
    margin-bottom: 80px;
}
div.section-divider hr {
    float: left;
    width: 89%;
}
div.section-divider a {
    float: right;
    position: relative;
    top: -3px;
}
div.tip:before {
    content: url("images/kendoTip.png");
    float: left;
    padding: 5px 0 0 10px;
}
blockquote {
    background-color: #FFFDED;
    border-left: 6px solid #FFEBA8;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px #FFEBA8 inset;
    margin-bottom: 30px;
    margin-left: 90px;
    margin-top: 30px;
    min-height: 90px;
    padding: 10px 20px;
    position: relative;
    width: 75%;
}
blockquote p {
    color: #2E2E2E;
}
blockquote:before {
    background-color: transparent;
    border-bottom: 12px solid #FFFFFF;
    border-right: 12px solid #FFEBA8;
    border-top: 12px solid #FFFFFF;
    content: " ";
    display: block;
    height: 0;
    left: -18px;
    position: absolute;
    top: 12px;
    width: 0;
}
.bodyText a.copyCode {
    background-color: #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    bottom: 30px;
    color: #FFFFFF;
    float: right;
    font-weight: bold;
    padding: 4px 10px 4px 5px;
    position: relative;
    right: 2px;
}
.bodyText a.copyCode:before {
    content: url("images/copy.png");
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: 2px;
}
h3 code {
    color: #E15613;
}
footer {
    border-top: 1px solid #DFDFDF;
    color: #6F6F6F;
    font-size: 12px;
    margin: 50px auto 0;
    padding: 12px 0 50px;
    text-align: right;
    width: 100%;
}
.searchResults {
    clear: both;
    float: none;
    margin: 30px auto;
    padding: 0;
    width: 54%;
}
.result h3 {
    padding-bottom: 0;
}
.result h3 a {
    color: #2E2E2E;
    text-decoration: none;
}
.result h3 a:hover, .result h3 a:focus {
    color: #E15613;
    text-decoration: none;
}
.result > a {
    clear: both;
    display: block;
    font-size: 12px;
    text-decoration: none;
}
.result span.sfsearchResultHighLighter {
    display: block;
    font-size: 13px;
    line-height: 1.3em;
    padding: 5px 0 0;
}
.bodyText .sfsearchResultStatistics {
    border-bottom: 1px solid #DADADA;
    line-height: 1em;
    margin-bottom: 15px;
    padding-bottom: 6px;
}
#main {
    margin-top:12px;
}

#gotop {
    bottom: 10px;
    float: right;
    position: fixed;
    right: 10px;
    z-index: 1005;
}
#gotop img {
    opacity: 0.3;
    width: 42px;
}

#gotop a:hover {
    color: #220000;
    text-decoration: none;
}
#gotop a:hover img {
    opacity: 1;
}

.product_nav {
   margin-top:10px;
   margin-bottom:15px;
}

.label {
   margin-right:15px;
}
th {
   background:#DADADA;
   border:1px solid #ffffff;
   font-size:14px;
}
.carousel ul {
  margin: 0;
}

.thumbnailr {
  border: 1px solid red;
}

.thumbnaile {
  border: 1px solid green;
}

.prodcut_nav {
  margin-bottom: 15px;
}
