#the device log path defination
[log]
path = '/var/log/dlog;/var/log/creashreport'

#the internal timeout defination
[time]
after_touch_time = 1
after_press_time = 1
after_input_time = 1
expect_timeout = 4
expect_interval_time = 2
exists_timeout = 4
longpress_time = 2
after_drag_time = 1
after_shellcmd_time = 2
exists_interval_time = 3
after_launch_time = 3
short_time = 1
